<div class="story">
  <p class="pic"></p>
  <p class="link">Истории о Шиве и Шакти</p>
</div>
<div class="answers">
  <h2>Ответы Гуру на вопросы о семейной жизни</h2>
  <div class="ans">
    <p class="link">link1</p>
    <p class="link">link2</p>
    <p class="link">link3</p>
    <p class="link">link4</p>
  </div>
</div>
<div class="articles">
  <h1>Статьи</h1>
  <div class="answers">
    <p class="link">link1</p>
    <p class="link">link2</p>
    <p class="link">link3</p>
    <p class="link">link4</p>
  </div>
</div>
<div class="interview">
  <h2>Интервью</h2>
  <div class="story">
    <p class="picture"></p>
    <p class="link">Интервью на семейную тематику</p>
  </div>
  <div class="y_links">
    <p class="link">link1</p>
    <p class="link">link2</p>
    <p class="link">link3</p>
    <p class="link">link4</p>
  </div>
</div>
<div class="y_links-w">
  <p class="link">link1</p>
  <p class="link">link2</p>
  <p class="link">link3</p>
  <p class="link">link4</p>
</div>
<div class="story">
  <p class="pic"></p>
  <p class="link">Истории о Шиве и Шакти</p>
</div>
<div class="answers">
  <h2>Ответы Гуру на вопросы о семейной жизни</h2>
  <div class="ans">
    <p class="link">link1</p>
    <p class="link">link2</p>
    <p class="link">link3</p>
    <p class="link">link4</p>
  </div>
</div>
<div class="articles">
  <h1>Статьи</h1>
  <div class="answers">
    <p class="link">link1</p>
    <p class="link">link2</p>
    <p class="link">link3</p>
    <p class="link">link4</p>
  </div>
</div>
<div class="interview">
  <h2>Интервью</h2>
  <div class="story">
    <p class="picture"></p>
    <p class="link">Интервью на семейную тематику</p>
  </div>
  <div class="y_links">
    <p class="link">link1</p>
    <p class="link">link2</p>
    <p class="link">link3</p>
    <p class="link">link4</p>
  </div>
</div>
<div class="y_links-w">
  <p class="link">link1</p>
  <p class="link">link2</p>
  <p class="link">link3</p>
  <p class="link">link4</p>
</div>
