<div class="statement-text_wrap">
  <p class="statement-text">
    Пока есть семьи, и есть те, кто живет в них и планирует дальше жить в них, нужен и отдел. Отдел семьи нужен, так
    как важна мирская сангха.
      А что такое мирская сангха?  Это сообщество, состоящее из учеников-грихастх, карма-санньяси, ванапрастх и
    брахмачари. И самая многочисленная часть мирской сангхи – семейные. Поэтому ведическая семья садху важна для
    сангхи. Она, также как и монашеская сангха – оплот духовной культуры. А раз она важна надо описать ее принципы,
    границы, суть.<br>
    <span>(Свами Вишнудевананда Гири)</span>

  </p>
</div>
<div class="main-content_wrap">
  <div class="cont left-cont_wrap">
    <app-left-bar></app-left-bar>
  </div>
  <div class="cont center-cont_wrap">
    <div class="template-text_wrap center">
      <h2 class="head_secondary">Задачи отдела:</h2>
      <p class="main-text_par">
        - прояснение принципов создания, смыслов, ценностей, целей, этики, жизни, служения и садханы, ведической
        семьи для начинающих мирян, а также всех грихастх и карма-санньяси на основе Дхармы нашей традиции;
      </p>
      <hr>
      <p class="main-text_par">
        - популяризация культуры ведической семьи в нашей традиции; - оказание помощи желающим в построении
        правильных отношений и создании ведической семьи;
      </p>
      <hr>
      <p class="main-text_par">
        - оказание помощи в подготовке и проведении свадьбы в ведическом ритуале по принципам сангхи;
      </p>
      <hr>
      <p class="main-text_par">
        - консультативная помощь готовящимся к родам;
      </p>
      <hr>
      <p class="main-text_par">
        - организация, оказание любой помощи начинающим ведическим семьям;
      </p>
      <hr>
      <p class="main-text_par">
        - укрепление культуры семьи садху;
      </p>
      <hr>
      <p class="main-text_par">
        - организация досуга в семьях садху;
      </p>
      <hr>
      <p class="main-text_par">
        - помощь родителям в обучении и воспитании детей из семей садху, создание гуру-кулы;
      </p>
      <hr>
      <p class="main-text_par">
        - оказание помощи в обучении детей, вплоть до получения среднего и высшего образования;
      </p>
      <hr>
      <p class="main-text_par">
        - психологическое консультирование в области взаимоотношений ведических семей начинающих учеников;
      </p>
      <hr>
      <p class="main-text_par">
        - сплочение мирской сангхи.
      </p>
      <hr>
    </div>
  </div>
  <div class="cont right-cont_wrap">
    <app-right-bar></app-right-bar>
  </div>
</div>
