<p class="back_arr" [routerLink]="['/main/content']">
  <img src="../../../../assets/undo.svg" alt="back">
  <span>Вернуться</span>
</p>
<div class="template-text_wrap">
  <h3 class="article-text">Приказ о создании Отдела ведической семьи
    от 31.01.2021</h3>
  <h3 class="article-text smaller"> 1. По благословению Гуру в целях укрепления и развития семей карма-санньяси,
    расширения мирской общины ВОСД создать
    Отдел ведической семьи ВОСД со следующей структурой:</h3>
  <p class="text-state">
    - отдел помощи в создании семей (знакомства) и организации бракосочетаний - "сваямвара" (организация церемоний,
    подготовка и т.д.);
  </p>
  <hr>
  <p class="text-state">
    - отдел психологии семейных отношений садху (лекции, консультации, семинары, занятия);
  </p>
  <hr>
  <p class="text-state">
    - отдел воспитания и образования детей;
  </p>
  <hr>
  <p class="text-state">
    - отдел организации семейного досуга в семьях садху.
  </p>
  <hr>
  <h3 class="article-text smaller"> 2. Утвердить на должности в служении следующих учеников Гуру, членов сангхи:</h3>
  <p class="text-state">
    - общее координирование отдела ведической семьи – Теджовати;
  </p>
  <hr>
  <p class="text-state">
    - отдел помощи в создании семей: руководитель Теджовати;
  </p>
  <hr>
  <p class="text-state">
    - отдел психологии семейных отношений садху – служители: Теджовати, Тара, Анна Буримова, Видьягаури;
  </p>
  <hr>
  <p class="text-state">
    - отдел воспитания и образования детей – служители: Тара, Джаялакшми, Анна Буримова;
  </p>
  <hr>
  <p class="text-state">
    - отдел организации семейного досуга в семьях садху– служители: Джаялакшми.
  </p>
  <hr>
  <h3 class="article-text smaller">3. Служение в Отделе ведической семьи осуществляется добровольно, во благо Дхармы и
    сангхи как способ накапливать заслуги и распространять Дхарму, на волонтерской основе (без оплаты со стороны
    отдела), к нему могут присоединяться в любое время другие ученики – служители.</h3>
  <hr>
  <h3 class="article-text smaller"> 4. Информацию о создании Отдела ведической семьи ВОСД, контакты, данные ее
    служителей, преподавателей, консультантов-психологов, информацию о мероприятиях и проектах рекомендовать размещать
    на всех информационных ресурсах ВОСД, подходящих по тематике.</h3>
  <hr>
  <p class="text-state">
    31.01.2021<br>
    Монастырский совет<br>
    Тримурти Ашрам
  </p>
</div>
