<p class="back_arr" [routerLink]="['/main/content']">
  <img src="../../../../assets/undo.svg" alt="back">
  <span>Вернуться</span>
</p>
<div class="template-text_wrap">
  <h3 class="article-text">Консультанты отдела</h3>
  <div class="consultants-main_wrap">
    <div class="const_wrap preview">
      <p class="ava">
        <img src="../../../../assets/avatars/tara.jpg" alt="ava">
      </p>
      <div class="prev_wrap">
        <p class="ct_name">Тара</p>
        <p class="c_description">
          ТАРА – служитель отдела помощи в создании семей, отдела психологии семейных отношений садху, отдела воспитания
          и
          образования детей.
        </p>
        <div class="c_mail">
          <p>E-mail:</p>&nbsp;&nbsp;
          <a href="omdivyatara@gmail.com">omdivyatara@gmail.com</a>
        </div>
        <p class="f_info" (click)="showFullInfo()">подробнее...</p>
      </div>
    </div>
    <div class="const_wrap preview">
      <p class="ava">
        <img src="../../../../assets/avatars/tegovati.jpg" alt="ava">
      </p>
      <div class="prev_wrap">
        <p class="ct_name">Теджовати</p>
        <p class="c_description">
          ТЕДЖОВАТИ – координатор отдела семьи ВОСД, руководитель отдела помощи создании семьи, служитель отдела
          психологии семейных отношений.
        </p>
        <div class="c_mail">
          <p>E-mail:</p>&nbsp;&nbsp;
          <a href="#">+38 (068) 977 61 31 (вайбер, телеграм)</a>
        </div>
        <p class="f_info">подробнее...</p>
      </div>
    </div>
    <div class="const_wrap preview">
      <p class="ava">
        <img src="../../../../assets/avatars/gauri.jpg" alt="ava">
      </p>
      <div class="prev_wrap">
        <p class="ct_name">Видья гаури</p>
        <p class="c_description">
          ВИДЬЯ ГАУРИ – служитель отдела помощи в создании семей, отдела психологии семейных отношений садху, отдела
          воспитания и образования детей.
        </p>
        <div class="c_mail">
          <p>E-mail:</p>&nbsp;&nbsp;
          <a href="vidyagauri30@gmail.com">vidyagauri30@gmail.com</a>
        </div>
        <a href="#">подробнее...</a>
      </div>
    </div>
    <div class="const_wrap preview">
      <p class="ava">
        <img src="../../../../assets/avatars/jayalaxmi.jpg" alt="ava">
      </p>
      <div class="prev_wrap">
        <p class="ct_name">Джаялакшми</p>
        <p class="c_description">
          ДЖАЯЛАКШМИ – служитель отдела воспитания и образования детей, отдела организации семейного досуга в семьях
          садху.
        </p>
        <div class="c_mail">
          <p>E-mail:</p>&nbsp;&nbsp;
          <a href="#">@jmilukova</a>
        </div>
        <a href="#">подробнее...</a>
      </div>
    </div>
    <div class="const_wrap preview">
      <p class="ava">
        <img src="../../../../assets/avatars/nirmaladevi.jpg" alt="ava">
      </p>
      <div class="prev_wrap">
        <p class="ct_name">Нирмаладеви</p>
        <p class="c_description">
          НИРМАЛАДЭВИ – служитель отдела воспитания и образования детей.
        </p>
        <div class="c_mail">
          <p>E-mail:</p>&nbsp;&nbsp;
          <a href="#">+38 (063) 173 76 22 (телеграм)</a>
        </div>
        <a href="#">подробнее...</a>
      </div>
    </div>
  </div>

  <!-- <div class="const_wrap full-info">
    <p class="ct_name">Видья гаури</p>
    <p class="ava">
      <img src="../../../../assets/avatars/gauri.jpg" alt="ava">
    </p>
    <div class="main-info_wrap">
      ВИДЬЯ ГАУРИ – служитель отдела помощи в создании семей, отдела психологии семейных отношений садху, отдела воспитания и образования детей.

Ведический астролог, психолог, тренер йоги.

В 2001 году стала ученицей Гуру и поступила на обучение в монастырь-академию «Собрание тайн».

Ежегодно посещала Всеукраинские практические семинары по лайя-йоге в традиции сиддхов (I и II ступени).

Имеет передачи от Гуру в практики хатха-йоги, крийя-йоги, шат-чакра-йоги, кундалини-йоги, раджа-йоги, нада-йоги, джйоти-йоги, анава-йоги, йога-нидры, прана-видьи.

С 2009 по 2014 г. являлась инструктором йоги в 4-х группах «Йога для начинающих».

С благословения Гуру (Свами Вишнудевананда Гири) изучает и преподает Астрологию (Джьотиш).

На всеукраинских семинарах и в «Дивья локе» проходила практики по ведической психологии.

Самостоятельно изучала аюрведу. Разработала индивидуальную систему оздоровления. Полученные знания активно использует в консультационной деятельности.

2005-2009г. прошла 5-летний курс «Основы ведической астрологии».

2016-2020г. прошла курс повышения квалификации «Джйотир Видья».

Является организатором Запорожской школы астрологии.

В течение 12 лет проводит астрологические консультации.

Обучает ведической астрологии (Джйотиш Шри Раса Виграха).

Является сотрудником кафедры Джйотиша Института Васиштхи, читает курс основ Джйотиша под названием «Вират-Пуруша-Йога».

В настоящее время осваивает трехмесячный астрологический семинар «Психологический портрет».

E-mail: vidyagauri30@gmail.com

Скайп: atmabhava1965

Телефон: +38 (095) 472 71 89
    </div>
  </div> -->
  <!-- <div class="const_wrap full-info">
    <p class="ct_name">Теджовати</p>
    <p class="ava">
      <img src="../../../../assets/avatars/tegovati.jpg" alt="ava">
    </p>
    <div class="main-info_wrap">
ТЕДЖОВАТИ – координатор отдела семьи ВОСД, руководитель отдела помощи создании семьи, служитель отдела психологии семейных отношений.

С 2016 года ученица Гуру.

Проявляет большую активность в жизни сангхи и является участником многих организационных структур: миссионерский отдел, совет карма-санньяси, союз инструкторов, институт семьи, медиа проект «мандала тудей», астрологический проект «джйотиш мандала».

Находится на 1-й ступени обучения. Имеет общий стаж ритритов более 2-х месяцев. Ежедневной садхане уделяет около 3-х часов. Постоянно углубляет понимание применения методов учения, передаваемых Гуру. Активно взаимодействует с практикующими, находящимися на различных стадиях духовного роста, интервьюирует монахов и успешных практикующих. Хорошо знакома с трудностями первых лет практики, особенно в сфере личных отношений и общения с окружающими. Готова поделиться своим практическим опытом с начинающими.

С 2017 года сертифицированный преподаватель йоги и практикующий астро-психолог (две ступени Рами Блэкта, обучение у других астрологов, самообучение). Занимается регрессией и коучингом. Организует и проводит йога-туры.

Более пяти лет посвятила самообучению по направлению семейной психологии. Для углубления понимания ведической семьи в рамках обучающей программы ИСККОН прошла две ступени курса «Хорошая жена».

В своей консультационной деятельности применяет комплексный подход: в дополнение к джйотишу и другим классическим методам использует ощущения тонкого плана.

Телефон: +38 (068) 977 61 31 (вайбер, телеграм)
    </div>
  </div> -->
  <!-- <div class="const_wrap full-info">
    <p class="ct_name">Джаялакшми</p>
    <p class="ava">
      <img src="../../../../assets/avatars/jayalaxmi.jpg" alt="ava">
    </p>
    <div class="main-info_wrap">
      ДЖАЯЛАКШМИ – служитель отдела воспитания и образования детей, отдела организации семейного досуга в семьях садху.

Проживает в России, город Екатеринбург.

Джаялакшми любит организовывать игры, походы, прогулки, приглашать гостей и проводить детские праздники как для своего сына, которому сейчас 6 лет, так и для других детей из сангхи.

Консультирует по вопросам организации досуга и проведения праздников в ведических семьях. Оказывает посильную помощь в подготовке и проведении данных мероприятий на территории России.

Телеграм: @jmilukova
    </div>
  </div> -->
  <!-- <div class="const_wrap full-info">
    <p class="ct_name">Нирмаладеви</p>
    <p class="ava">
      <img src="../../../../assets/avatars/nirmaladevi.jpg" alt="ava">
    </p>
    <div class="main-info_wrap">
      НИРМАЛАДЭВИ – служитель отдела воспитания и образования детей.

С 2018 года является ученицей Гуру.

С 2013 года изучает ведическую культуру и философию. Активно практикует хатха- и кундалини-йогу.

С 2015 года сертифицированный инструктор по хатха-йоге (международный институт йоги Вед Никетан Йога Ашрам, г. Ришикеш)

С 2018 года сертифицированный инструктор по перинатальной йоге. Разработчик программы курса подготовки к беременности и естественным Родам «Рожаница». Мама двух мальчиков.

С 2020 года миссионер нашей школы, ведет практическую и просветительскую работу среди духовных искателей.

В рамках мандалы отдела семьи ВОСД консультирует по вопросам подготовки к беременности и родам, разъясняет особенности практики во время беременности.

Телефон: +38 (063) 173 76 22 (телеграм)
    </div>
  </div> -->

  <div [class.show]="show" class="const_wrap full-info">
    <p (click)="show = false" class="close_x">x</p>
    <p class="ct_name">Тара</p>
    <p class="ava">
      <img src="../../../../assets/avatars/tara.jpg" alt="ava">
    </p>
    <div class="main-info_wrap">
      <p class="cons_description">
        ТАРА – служитель отдела помощи в создании семей, отдела психологии семейных отношений садху, отдела воспитания и
        образования детей.</p>
      <p class="cons_description">В 2007 году стала ученицей Гуру (свами Вишнудевананда Гири).</p>
      <p class="cons_description">
        В 2009 году сдала экзамен на первую и вторую ступень обучения.
      </p>
      <p class="cons_description">
        В феврале 2010 году в Индии получила дикшу от Гуру.
      </p>
      <p class="cons_description">
        В мае 2010 года прошла обряд ведической свадьбы с учеником Гуру Риддхинатхой. Имеет двух дочерей (8 лет и 3
        года).
      </p>
      <p class="cons_description">
        Состоит в Гильдии переводчиков Всемирной Общины Санатана Дхармы (ВОСД). Принимает участие в служении по переводу
        книг Гуру, священных текстов адвайты, переводу сайта ВОСД.
      </p>
      <p class="cons_description">
        Имеет передачи от Гуру в практики хатха-йоги, крийя-йоги, шат-чакра-йоги, кундалини-йоги, йоги иллюзорного тела.
      </p>
      <p class="cons_description">
        В миру является преподавателем английского языка.
      </p>
      <p class="cons_description">
        Самостоятельно изучает детскую психологию, нейропсихологию, семейную психологию.
      </p>
      <p class="cons_description">
        Занимается кинезиофитнесом (Кинезиология – наука о движении во всех его проявлениях, где движение
        рассматривается
        не только с механической точки зрения (биомеханика), но и через призму физиологических и психологических свойств
        человеческого организма).
      </p>
      <div class="contacts_wrap">
        <p class="contact">E-mail: omdivyatara@gmail.com</p>
        <p class="contact">Скайп: Tara Sadlovskaya</p>
        <p class="contact">Telegram: @ NamoTara</p>
        <p class="contact">Телефон: +38 (050) 761 14 01</p>
      </div>
    </div>
  </div>
</div>
